.App {
  text-align: center;
  width: 50%;
}
.container {
  display: flex;
  justify-content: center;
}
.count {
  margin-top: 50px;
  margin-bottom: 50px;
}
.form {
  margin-top: 50px;
  margin-bottom: 50px;
}
